:root {
	--bg-dark-400: hsl(212, 8%, 7%);
}

* {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-family: 'Roboto', serif;
}
