@font-face {
	font-family: 'Bagoss';
	src: url('/fonts/BagossStandard-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Bagoss';
	src: url('/fonts/BagossStandard-RegularItalic.woff2') format('woff2');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'PP Editorial Old';
	src: url('/fonts/PPEditorialOld-Italic.woff2') format('woff2');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'PP Editorial Old';
	src: url('/fonts/PPEditorialOld-Ultralight.woff2') format('woff2');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'PP Editorial Old';
	src: url('/fonts/PPEditorialOld-UltralightItalic.woff2') format('woff2');
	font-weight: 200;
	font-style: italic;
}
