.rt {
	max-width: 60rem;
	margin-left: auto;
	margin-right: auto;

	> * {
		margin-top: 1rem;
		margin-bottom: 1rem;
	}

	> :first-child {
		margin-top: 0 !important;
	}

	> :last-child {
		margin-bottom: 0 !important;
	}
}

@media (min-width: 1000px) {
	.rt {
		columns: 2;
	}
}
